/* Google font: IBM Plex Mono 400 & 600 & 700 weight */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');

/* >>> Variables */
:root {
    /* Font variables */
    --font-family: "IBM Plex Mono", monospace;
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 700;
    --big-font-size: 1rem;
    --bigger-font-size: 2rem;

    /* Colors */
    --bg-color: #fcfcfc;
    --primary-color: #1a6585;
    --secondary-color: #642f37;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --black-color: #323232;

    /* Margins */
    --small-margin: 0.5rem;
    --normal-margin: 1rem;
    --big-margin: 2rem;

    /* Line heights */
    --normal-line-height: 1.7rem;
    --big-line-height: 2.7rem;

    /* Transitions */
    --transition: 0.3s;
    --slow-transition: 0.7s;

    --rounded-corners: 5px;
}

/* Variables <<< */



/* >>> CSS Resets & Initial Settings */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

/* CSS Resets & Initial Settings <<< */



/* >>> Navigation */
nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px var(--primary-shadow);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.hamburger-menu {
    color: var(--primary-color);
    font-size: var(--bigger-font-size);
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Navigation <<< */




/* >>> Hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 70rem;
    margin: auto;
    height: 100%;
}

.hero img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    padding: 15px;
    opacity: 0.8;
}

.hero ul {
    margin: auto;
    display: inline-block;
    text-align: left;
    font-weight: var(--bold-font);
}

.hero li:not(:last-child) {
    margin-bottom: var(--big-margin);
}

/* Hero section <<< */



/* Section heading (except for hero section) */
h2 {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: var(--big-margin);
    margin-bottom: var(--normal-margin);
    background-color: var(--black-color);
    color: white;
}



/* >>> More about me section */
.more-about-me {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
    width: 100%;
}

.more-about-me-text {
    text-align: justify;
    max-width: 1024px;
    margin: auto;
}

.more-about-me p {
    line-height: var(--normal-line-height);
    padding: 0.4rem;
}

/* More about me section <<< */



/*  >>> Skills section */
.skills {
    width: 100%;
    margin: auto;
    text-align: center;
}
.skills img {
    padding: 1.5rem;
}

.skill-card {
    width: 8rem;
    height: 8rem;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: var(--rounded-corners);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}
/* Skills section <<<  */