/* Google font: IBM Plex Mono 400 & 600 & 700 weight */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');

:root {

  --page-bacgkround: linear-gradient(-60deg,whitesmoke 50%,rgb(33, 163, 163) 0);

  /* FONT VARIABLES */
  --font-family: "IBM Plex Mono", monospace;

  /* COLORS */
  --black-color: #323232;
}
